<head>
    <link rel="stylesheet" href="~/css/pleaseLoginBox.css" type="text/css" />
</head>

<div class="pleaseLoginBox">
    <div>
        <div class="warning">Warning!</div>
        <div class="warningMessage">You need to sign-in to access to this page.</div>
    </div>

    <div class="iconBx">
        <ion-icon name="document-lock-outline"></ion-icon>
    </div>
</div>