.header
{
    text-align: center;
    margin-top: 20px;
}

.header img
{
    width: 70px;
}

.header h1
{
    font-size: 24px;
    margin-top: 10px;
}

.policy-details
{
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 10px 25px 10px rgba(0, 0, 0, 0.1);
}

.buttonGrid
{
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

.policy-details h2
{
    text-align: center;
    margin-bottom: 20px;
}

.detail-row
{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.detail-row:last-child
{
    border-bottom: none;
}

.detail-row span
{
    font-weight: bold;
}
