@page
@using VeridianInsurance.Models
@model VeridianInsurance.Models.ViewModels.policyViewModel

@{
    var policyData = ViewBag.Message.PolicyData as Dictionary<string, string>;
}

<head>
    <link rel="stylesheet" href="~/css/pdf.css" type="text/css" />
</head>
<body>
    <div id="pdfContent">
        <div class="header">
            <img src="~/assets/logo.svg" alt="Veridian Insurance Logo">
            <h1>Veridian Insurance</h1>
        </div>
        <div class="policy-details">
            <h2>Insurance Policy Details</h2>
            @foreach (var i in policyData)
            {
                <div class="detail-row">
                    <span>@i.Key:</span>
                    <span>@i.Value</span>
                </div>
            }

        </div>
    </div>
    <div class="row buttonGrid">
        <div class="col">
            <button class=" rounded-pill w-100 btn btn-lg btn-primary" onclick="location.href='@Url.Action("Index", "VehiclePolicy")'">Done</button>
        </div>
        <div class="col col-lg-2"></div>
        <div class="col">
            <button class=" rounded-pill w-100 btn btn-lg btn-primary" onclick="downloadPDF()">Download</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <script>
        async function downloadPDF() {
            let makepdf = document.getElementById("pdfContent");
            html2pdf().from(makepdf).save("VeridianInsurancePolicy");
        }
    </script>
</body>
</html>
